<section>
        <article>
            <div class="page-header">
                <h1>상품목록</h1>
            </div>
            <div class="form-group">
                <a class="btn btn-primary" href="/book/host/write">상품등록</a>
            </div>
            <table class="table table-hover">
                <colgroup>
                    <col width="5%">
                    <col width="35%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr class="active">
                        <th class="text-center"><input type="checkbox"></th>
                        <th class="text-center">도서명</th>
                        <th class="text-center">저자</th>
                        <th class="text-center">출판사</th>
                        <th class="text-center">가격</th>
                        <th class="text-center">재고수량</th>
                    </tr>
                </thead>
                <tbody ng-switch on="selection">
                    <tr ng-switch-when="true" ng-repeat="book in bookData">
                        <td class="text-center"><input type="checkbox"></td>
                        <td class="text-center"><a href="/book/host/detail/{{book._id}}">{{book.bookname}}</a></td>
                        <td class="text-center">{{book.author}}</td>
                        <td class="text-center">{{book.publisher}}</td>
                        <td class="text-center">{{book.price | number}}</td>
                        <td class="text-center">{{book.qty | number}}</td>
                    </tr>
                    <tr ng-switch-when="false">
                        <td colspan="6" class="text-center">{{message}}</td>
                    </tr>
                </tbody>
            </table>
    
            <!--모달 시작-->
            <!-- <div class="modal fade" id="write-modal" tabindex="-1" role="dialog" aria-labelledby="writeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <form action="/book/write" method="post">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="writeModalLabel">상품등록</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="bookname">도서명</label>
                                    <input type="text" name="bookname" id="bookname" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="author">저자</label>
                                    <input type="text" name="author" id="author" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="publisher">출판사</label>
                                    <input type="text" name="publisher" id="publisher" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="price">가격</label>
                                    <input type="number" name="price" id="price" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="qty">수량</label>
                                    <input type="number" name="qty" id="qty" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="recommendation">추천도서로 등록</label>
                                    <input type="checkbox" name="recommendation" id="recommendation" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="introduction">도서소개</label>
                                    <textarea name="introduction" id="introduction" rows="12" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">등록하기</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> -->
            <!--모달 종료-->
        </article>
    </section>